.box ::placeholder {
  color: #d9d3d3;
  opacity: 1; /* Firefox */
}

.box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d9d3d3;
}

.box ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d9d3d3;
}
html,
body {
  height: 100%;
}
.box {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
  transition: 0.25s;
  height: 100% !important;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box input[type="text"],
.box input[type="email"],
.box input[type="number"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1,
h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  border-color: #2ecc71;
}

.box input[type="button"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.forgot {
  text-decoration: underline;
  color: beige;
}

@media only screen and (max-width: 768px) {
  .c-toast {
    width: 100% !important;
    border-radius: 0px !important;
  }
}
.login-signup-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.location-icon {
  color: red;
  vertical-align: middle;
}
.user-icon {
  color: red;
  font-size: 40px;
}
.common-icon {
  color: red;
}
.back-icon {
  color: red;
  font-weight: 600;
}
.rounded {
  border-radius: 1.25rem !important;
}
.header-box {
  box-shadow: 0 4px 6px -6px #222;
}
.chip {
  display: inline-flex;
  flex-direction: row;
  border: none;
  cursor: default;
  height: 36px;
  outline: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border: 1px solid #c7c8c9;
  width: 100%;
}

.chip-content {
  cursor: inherit;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-head {
  color: black;
  text-transform: none;
  font-weight: 800;
}

.card {
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

.main-content-index {
  height: 650px !important;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.product-name {
  font-weight: 700;
}

.price {
  font-weight: 800;
}
.cart-div {
  position: fixed;
  bottom: 50px;
  right: 40px;
}
.cart-icon {
  color: red;
  font-size: 3em;
}
.count {
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 2;
  font-size: 11px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.cursor {
  cursor: pointer;
}
/* Add address start */
.add-address {
  padding-right: 1em;
  padding-left: 1em;
}

.add-address-button {
  border: none;
  background: red;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 100%;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.goto-add-address-button {
  border: 1px solid red;
  background: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 90%;
  color: red;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}
.add-address ul {
  list-style-type: disc !important;
  padding-left: 1em;
}
.add-address ul li {
  color: #6c757d;
  font-size: 13px;
}

/* Add address end */
.account-user-icon {
  color: red;
  font-size: 4em;
}
.a-text-decoration-color {
  color: black !important;
}
.default-address-checkbox {
  margin-right: -2em;
}

.address-action {
  color: red;
  text-decoration: none;
  font-weight: 600;
}
.text-decoration-null {
  text-decoration: none;
}
.empty-address-icon {
  font-size: 8em;
  margin-top: 50%;
  margin-bottom: 1em;
}
.shop-name {
  font-size: 80%;
}
.card-img-top {
  height: 8em;
}
.get-all-shop-button-shops {
  border: 1px solid #c7c8c9;
  border-radius: 20px;
}
.font-size-filter {
  font-size: 13px;
}
.form-check-input:checked {
  background-color: red;
  wlor: red;
}
.height-item {
  height: 60px;
  width: 80px;
}
.each-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.add-item-qty {
  font-size: 2em;
}
.add-item-qty-1 {
  font-size: 1.5em;
}
.count-1 {
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 2;
  font-size: 11px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: red;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 50%;
}

.example1 {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.example1 h6 {
  font-size: 12px;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
.blackWhite {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.empty-cart {
  margin-top: 50%;
  font-size: 10em;
}

.thread {
  display: inline-block;
  width: 2px;
  height: 20px;
  background: black;
  border-radius: 5px;
  position: relative;
  transform-origin: 50% 0;
  animation: moveIt 2.5s ease-in-out infinite;
}

.thread:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid white;
  top: -4.5px;
  left: -3.5px;
}
.pendulum {
  width: 20px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: -11px;
}

@keyframes moveIt {
  0%,
  100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

@keyframes moveShade {
  0% {
    transform: translateX(-220px) scale(1.4, 0.5);
    filter: blur(20px);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    transform: translateX(220px) scale(1.4, 0.5);
    filter: blur(20px);
  }
}
.pendulam-base {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.cart-font-size {
  font-size: 14px;
}

.cart-font-size-1 {
  font-size: 11.5px;
}
.not-availble-cart {
  font-size: 9px;
}
.display-inline {
  display: flex;
  justify-content: space-between;
}
.capitalize {
  text-transform: capitalize;
}
.delivered-icon {
  color: #13ac13;
  font-size: 20px;
}
.line-height-5 {
  line-height: 5px;
}
.order-details-icon {
  font-size: 22px;
  color: rgb(138, 130, 130);
}
.vl {
  border-left: 3px dotted rgb(138, 130, 130);
}
.dashed-border {
  border: none;
  border-top: 2px dashed rgb(106, 101, 101);
  color: #fff;
  background-color: #fff;
}

/* progress bar start*/

#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  color: white;
  padding-left: 0px;
  margin-top: 3vh;
}

#progressbar li {
  list-style-type: none;
  font-size: 0.6rem;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: rgb(59, 56, 56);
}

#progressbar #step1:before {
  content: "";
  color: white;
  width: 20px;
  height: 20px;
  margin-left: 0px !important;
}

#progressbar #step2:before {
  content: "";
  color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 20%;
}

#progressbar #step3:before {
  content: "";
  color: #fff;
  width: 20px;
  height: 20px;
  margin-right: 25%;
}

#progressbar #step4:before {
  content: "";
  color: rgb(151, 149, 149, 0.651);
  width: 20px;
  height: 20px;
  margin-right: 0px !important;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: rgb(151, 149, 149);
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh;
}
#progressbar li:after {
  content: "";
  height: 3px;
  background: rgb(151, 149, 149, 0.651);
  position: absolute;
  left: 0%;
  right: -6%;
  margin-bottom: 2vh;
  top: 8px;
  z-index: 1;
}
#progressbar li:nth-child(2):after {
  margin-right: auto;
}
#progressbar li:nth-child(1):after {
  margin: auto;
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%;
}

#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%;
}

#progressbar li.active-progress:before,
#progressbar li.active-progress:after {
  background: red;
}
/* @media (min-width:600px) {
  .progress-out-for-delivery {
    margin-left: 500px;
  }
} */

@media (min-width: 320px) and (max-width: 500px) {
  .progress-out-for-delivery {
    margin-left: 20px;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  .progress-out-for-delivery {
    margin-left: 50px;
  }
}
/* progress bar end*/

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

.bottom-modal {
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
  height: 300px;
}
.bottom-modal-scroll {
  height: 250px;
  overflow-x: scroll;
}
.home-bottom-order {
  position: fixed !important;
  bottom: 0px !important;
}

.fancyshrink {
  font-family: "Dosis", sans-serif;
  width: 100%;
  background: rgba(241, 231, 103, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(241, 231, 103, 1) 0%,
    rgba(252, 70, 216, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(241, 231, 103, 1)),
    color-stop(100%, rgba(252, 70, 216, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(241, 231, 103, 1) 0%,
    rgba(252, 70, 216, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(241, 231, 103, 1) 0%,
    rgba(252, 70, 216, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(241, 231, 103, 1) 0%,
    rgba(252, 70, 216, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(241, 231, 103, 1) 0%,
    rgba(252, 70, 216, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#fc46d8', GradientType=1 );
  line-height: 50px;
  color: white;
  text-decoration: none;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0px 14px 23px -10px rgba(0, 44, 68, 0.56);
  -moz-box-shadow: 0px 14px 23px -10px rgba(0, 44, 68, 0.56);
  box-shadow: 0px 14px 23px -10px rgba(0, 44, 68, 0.56);
  border-radius: 0px;
}
.home-current-button {
  position: absolute;
  margin-top: 6px;
}
.text2 {
  font-size: 15px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
